html {
box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}


body 
{
    font-family: 'Heebo', sans-serif;
    font-family: 'Inter', sans-serif;
}

.header-container { 
    display: flex;   
    width: 1440px;
    height: 94px;
}


.header__logo {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 170px;   
    
}


.header-menu {
    display: flex;
    width: 211px;
    height: 19px;
    padding-top: 37.5px;    
    padding-right: 8px;
    gap: 24px;
    margin-left: 847px;
    
}

.menu_paragraph {
    
    color:#000000;
    font-style: normal;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Inter';
}

.menu_paragraphactiv {
    
    color: #FF6464;
    font-style: normal;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Inter';
}

.main-container {
    display: flex;
    width: 1440px;
    height: 399px;
    padding-left: 270px;
    padding-right: 270px;
    
    
}

.main-leftside {
    padding-top: 57px;
    padding-bottom: 57px;
    
}

.main-leftside_headertop{
        width: 528px;
    height: 53px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    color: #000000;
}

.main-leftside_header{
    margin-bottom: 24px;
    width: 528px;
    height: 53px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    color: #000000;


}

.main-leftside_text {
    display: inline-block;
    margin-bottom: 24px;
    width: 548px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.main-leftside_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #FF6464;
    border-radius: 4px;
    width: 193px;
    height: 46px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

.main-container__image {
    padding-top: 40px;    
    padding-bottom: 40px;
    margin-left: 62px;

}

.posts {
    background-color: #EDF7FA;
    padding-left: 270px;
    padding-right: 270px;
    width: 1440px;
    height: 422px;
}

.posts-header {
    display: flex;
    padding-top: 40px;
    gap: 671px;

}

.posts__title {
    width: 157px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    color: #000000;
    
}

.posts__link {
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    color: #00A8CC;
    
}

.posts-container {
    display: flex;
    padding-top: 32px;
    padding-bottom: 40px;
    gap: 24px;
}

.post-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    width: 438px;
    height: 238px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 8px;

}

.post-content__subtitle {
    display: flex;
    width: 406px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #636B78;
    margin-top: 8px;

}

.post-content__title {
    width: 406px;
    height: 42px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #0A2A42;
}

.post-content__text {
    width: 406px;
    height: 108px;
    margin-top: 10px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #21243D;

}

.work-container {
    width: 1440px;
    height: 650px;
    padding-left: 270px;
    padding-right: 270px;
}

.secondwork-container{
    width: 1440px;
    height: 1100px;
    padding-left: 270px;
    padding-right: 270px;

}

.work-header {
    display: flex;
    padding-top: 40px;
    gap: 654px;

}
 .work__title {
    width: 170px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    color: #000000;

 }

 .secondwork__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 41px;


 }

 .work-hub {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 0px;
    gap: 24px;
    width: 900px;
    height: 251px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.08);
    border-radius: 0px;

 }

 .work-hub__title {
    width: 585px;
    height: 42px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #0A2A42;

 }

 .work-hub__date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 4px 16px;
    gap: 10px;
    width: 73px;
    height: 32px;
    background: #2A326F;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;

 }

 .overtext {
    display: flex;
    margin-top: 8px;

 }
 .work-hub__topic {
    margin-left: 24px;
    margin-top: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #8695A4;

 }

 .work-hub__text {
    width: 585px;
    height: 81px;
    margin-top: 24px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #21243D;

 }

 .bottom-container {
    width: 1410px;
    padding-top: 104px;
    padding-left: 220px;
    padding-right: 220px;
    padding-bottom: 75px;

 }

 .img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;

 }

 .bottom-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #678398;
    margin-top: 40px;

 }
 
 .blog-title {
    margin-top: -500px;
    padding-right: 681px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;    
    color: #000000;
    

 }

.blogpost-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 300px;
    gap: 24px;
    width: 800px;    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: -300px;
}

 .blog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;    
    padding: 0px 0px 16px;
    width: 800px;
    height: 200px;
    background: #FFFFFF;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.08);
    border-radius: 0px;
    

 }
 .blog-container__text{
    width: 768px;
    height: 54px;
    margin-top: 10px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #21243D;

 }

 .blogpost-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    width: 800px;
    height: 184px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 8px;

 }

 .blog-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 40px;
    gap: 6px;
    width: 1440px;
    height: 1038px;

 }