html {
box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}


body 
{
    font-family: 'Heebo', sans-serif;
    font-family: 'Inter', sans-serif;
}

.header-container { 
    display: block;   
    width: 1440px;
    height: 94px;
}

.header-inside {
    display: inline;    
    width: 1100px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 170px;
    margin-right: 170px;

}

.header__logo {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
    
    
}


.header-menu {
    display: inline-block;
    padding-top: 37.5px;    
    padding-right: 8px;
    margin-left: 800px;
    
}

.menu_paragraph {
    margin-left: 24px;
    color:#000000;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Inter';
}

.main-container {
    display: flex;
    padding-left: 270px;
    padding-right: 270px;
    
    
}

.main-leftside {
    padding-top: 57px;
    padding-bottom: 57px;
    padding-right: 352px;
    

}

.main-leftside_header{
    margin-bottom: 24px;

}

.main-leftside_text {
    display: inline;
    margin-bottom: 24px;
    width: 548px;
}

.main-container__image {
    padding-top: 40px;
    
    padding-bottom: 40px;

}